
<main class="container">

  <div class="text-center py-5 px-3">
    <h1>役立つ情報をつぶやいていこう</h1>
  </div>
  <% if user_signed_in? %>
  <%= link_to "投稿する", new_tweet_path, class: "btn btn-primary"  %>
  <% end %>
  <%= render "shared/tweet" %>

</main><!-- /.container -->