.tweet-contents {
  padding: 30px;
  background-color: lightpink;
  overflow: hidden;
  max-width: 400px;
  margin: 20px auto;
  font-size: 80%;
  border: solid 1px #eeeeee;

  .tweet-title {
    padding: 10px;
    text-align: center;
    font-size: 150%;
    

  
  }
}

.tweet-block{
  width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    
    .tweet-nickname{
        font-weight: bold;



      .tweet-content{
        margin: 5px 0;
      }
    }
  }



.tweet-img {
  width: 33vh;
  height: 33vh;
}


