
<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
      <%= link_to "記録する", new_user_memory_path(@user.id), class: "btn btn-info" %>
        <div class="card-body">
          <%= month_calendar events: @memories do |date, memories| %>
          <%= date.day %>
            <% memories.each do |memory| %>
              <%= link_to memory.title, user_memory_path(@user, memory) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <div>
</div>