
<%= link_to "記録する", new_user_memory_path(@user.id), class: "btn btn-primary" %>
<div class="card">
<%= month_calendar events: @memories do |date, memories| %>
  <%= date.day %>

  <% memories.each do |memory| %>
    <div>
      <%= link_to memory.title, user_memory_path(memory.id) %>
    </div>
  <% end %>
<% end %>
</div>