// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // background-image: image-url("baby1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
}


.tweet-btn {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn-box {
  display: inline-block;
  width: 200px;
  text-align: center
  font-size 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #9ec34b;
  transition: .4s;
}

.btn-box:hover {
  border: 2px solid transparent;
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

.reset-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: #FFF;
  position: relative;
  top: 8px;
  display: block;
}